root { 
    display: block;
}

#center-element{
    position: absolute;
    left:0;
    top:0;
    width:100%;
}
#center-element>div{
    display: inline-block;
    position:relative;
    left:50%;    
    
    

}

#center-element>div>div{
    display: inline-block;
    text-align: center;    

    margin-left:-50%;
    
    
    
}


#canvas-container{
    
    padding: 16px;
    background-color: #000;    
    color:#fff;
}
#canvas-container *{
    margin-top: 4px;
}
canvas{
    margin: 16px;
    display:block;
    border:8px solid white;
}


/*
font-family: 'Share Tech Mono', sans-serif;*/