html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: monospace;
}

.root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: #000;
    color: #fff;
}

.hidden {
    display: none !important;
}

canvas {
    border: 8px solid white;
    box-sizing: border-box;
    width: 100%;
    height: auto;
}

.controls {
    font-size: x-large;
    display: flex;
    flex-direction: column;
}

@media (min-aspect-ratio: 4/3) {
    canvas {
        height: 100%;
        width: auto;
    }
}
